.input {
    border-radius: 20px;
    border: 1px solid lightseagreen;
    padding: 10px;
    outline: none;
    box-shadow: 5px 5px 10px rgba(103, 108, 120, 0.2);
}

.input:focus {
    outline: 2px solid lightseagreen;
}