<div class="tasks__column" [ngStyle]="{ 'background-color': color }">
  <h2 class="tasks__title">{{ taskType.toUpperCase() }}</h2>
  <button class="tasks__btn" (click)="canAdd[i] = true">+</button>
  <form [formGroup]="addForm" *ngIf="canAdd[i]" class="tasks__edit">
    <app-form-input
      placeholder="Task name"
      [parentForm]="addForm"
    ></app-form-input>
    <app-grey-button type="button" (click)="addTask(taskType)" content="Add" class="btn"></app-grey-button>
    <app-grey-button type="button" (click)="canAdd[i] = false" content="Cansel" class="btn"></app-grey-button>
  </form>
  <div
    class="tasks__block"
    [ngStyle]="{ height: canAdd[i] ? '38.4vh' : '45vh' }"
    (drop)="drop($event)"
    [attr.data-type]="taskType"
  >
    <app-task
      [tasks]="tasks"
      [filterByName]="filterByName"
      [sort]="sort"
      [direction]="direction"
      [oldType]="oldType"
      [done]="done"
    ></app-task>
  </div>
  <div class="tasks__column-color">
    <span>🖌</span>
    <input
      class="tasks__colors"
      type="color"
      [value]="color"
      [(ngModel)]="color"
      (change)="changeColor(taskType, $event)"
    />
  </div>
</div>
