.boards {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    padding: 50px;
}

.board {
    width: 20%;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 30px;
    background-color: azure;
    color: rgb(24, 93, 93);
    box-shadow: 0px 10px 20px rgba(103, 108, 120, 0.4);
}

.board__btn {
    padding: 10px 20px;
    font-size: 16px;
    color: azure;
    background-color: lightseagreen;
    border-radius: 7px;
    cursor: pointer;
}

.board__btn {
    margin-right: 10px;
}

.stat__list {
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-top: 10px;
    margin-bottom: 10px;
}

.toolbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    box-shadow: 0px 10px 20px rgba(103, 108, 120, 0.2);
    border-bottom-left-radius: 50px;
}

.toolbar__group {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.toolbar__btn {
    padding: 10px 20px;
    font-size: 16px;
    color: azure;
    background-color: lightseagreen;
    border-radius: 7px;
    cursor: pointer;
} 

.toolbar__input {
    border-radius: 7px;
    border: 1px solid lightseagreen;
    padding: 10px;
    outline: none;
}

.toolbar__input:focus {
    outline: 2px solid lightseagreen;
}

select {
    padding: 10px 20px;
    font-size: 16px;
    color: azure;
    background-color: lightseagreen;
    border-radius: 7px;
    cursor: pointer;
    border: none;
    outline: none;
}

.loader {
    margin: 0 auto;
}