<div class="toolbar">
    <button class="toolbar__btn">+</button>
    <div class="toolbar__group">
        <input type="text" class="toolbar__input" placeholder="Filter boards..." [(ngModel)]="filterByName">
        <button class="toolbar__btn">Sort By Dropdown</button>
        <button class="toolbar__btn">ASC</button>
        <button class="toolbar__btn">DESC</button>
    </div>
    
</div>
<div class="boards">
    <div *ngFor="let board of boards$ | async | filter: filterByName" class="board">
    <h3 class="board__name">{{board.name}}</h3>
    <p class="board__description">{{board.description}}</p>
    <p class="board__date">{{board.createdAt | date:'dd.MM.YYYY'}}</p>
    <div class="board__tools">
        <button class="board__btn">Edit</button>
        <button class="board__btn" (click)="deleteBoard(board._id)">Delete</button>
    </div>
</div>
<app-loader *ngIf="!isLoaded"></app-loader>
</div>

<!-- [routerLink]="['/board', board._id]" -->