<div class="toolbar">
  <button class="toolbar__btn" (click)="modal.show()">+</button>
  <div class="toolbar__group">
    <input
      type="text"
      class="toolbar__input"
      placeholder="Filter boards..."
      [(ngModel)]="filterByName"
    />
    <button class="toolbar__btn">Sort By Dropdown</button>
    <button class="toolbar__btn">ASC</button>
    <button class="toolbar__btn">DESC</button>
  </div>
</div>
<app-loader *ngIf="!isLoaded" class="loader"></app-loader>
<div class="boards" >
  <div
    *ngFor="let board of boards$ | async | filter: filterByName"
    class="board" 
  >
    <h3 class="board__name">{{ board.name }}</h3>
    <p class="board__description">{{ board.description }}</p>
    <p class="board__date">{{ board.createdAt | date: 'dd.MM.YYYY' }}</p>
    <div class="board__tools">
      <div class="board__stat">
        <ul class="stat__list">
          <li class="stat__item">
            <span>Todo: {{board.taskCount.todo}}</span>
          </li>
          <li class="stat__item">
            <span>In progress: {{board.taskCount.inprogress}}</span>
          </li>
          <li class="stat__item">
            <span>Done: {{board.taskCount.done}}</span>
          </li>
        </ul>
      </div>
      <button class="board__btn" (click)="editBoard(board._id)" >Edit</button>
      <button class="board__btn" (click)="deleteBoard(board._id)">
        Delete
      </button>
    </div>
  </div>
</div>
<app-edit-modal (onUpdate)="updateBoard($event)" *ngIf="modal.showEditModal"></app-edit-modal>
<!-- [routerLink]="['/board', board._id]" -->
