<section class="header">
    <div class="header__container">
        <a [routerLink]="['/dashboard']" class="header__link">TASKco</a>
    </div>
    <div class="header__container" >
        <a *ngIf="isLoggedIn$ | async" [routerLink]="['/dashboard']" routerLinkActive="active" class="header__link">Dashboard</a>
        <a *ngIf="(avatarUrl$ | async) as avatarUrl" class="header__link"><img class="header__avatar" width="40" alt="avatar" [src]="avatarUrl"></a>
        <a *ngIf="(user$ | async) as user" class="header__link" >{{user.email}}</a>
        <a *ngIf="isLoggedIn$ | async" [routerLink]="['/']" (click)="logout($event)" class="header__link">Logout</a>
    </div>
</section>
