.header {
    background-color:lightseagreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    font-size: 20px;
    color: azure;
}

.header__link {
    color: azure;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.header__link {
    margin: 0 10px;
}

.active {
    color: green
}

.header__avatar {
    border-radius: 50%;
}