.header {
    background-color:lightseagreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    font-size: 20px;
    color: azure;
    box-shadow: 0px 10px 20px rgba(103, 108, 120, 0.4);
}

.header__link {
    color: azure;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.header__link {
    margin: 0 10px;
}

.active {
    padding: 10px 20px;
    margin-right: 10px;
    color: black;
    text-align: center;
    font-weight: bold;
    background-color: #fff;
    box-shadow: 0px 10px 20px rgba(103, 108, 120, 0.6);
    border-radius: 40px;
    transition: all 1s ease-out;
}

.header__avatar {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    border: 1px solid #fff;
}