<div class="toolbar">
    <button class="toolbar__btn" (click)="modal.show()">+</button>
    <div class="toolbar__group">
        <input type="text" class="toolbar__input" placeholder="Filter boards..." #name (input)="addFilterValue(name.value)"/>
        <select name="sort" [ngModel]="sortBy" (ngModelChange)="addSortValue($event)">
            <option value="" hidden>Sort by ...</option>
            <option value="name">name</option>
            <option value="createdAt" >date</option>
            <option value="todo">"Todo"</option>
            <option value="inprogress">"In progress"</option>
            <option value="done">"Done"</option>
        </select>
        <button class="toolbar__btn" appSortParams (click)="addDirectionValue('asc')">ASC</button>
        <button class="toolbar__btn" appSortParams (click)="addDirectionValue('desc')">DESC</button>
      </div>
  </div>
