<ng-container>
  <app-input
    class="toolbar__item"
    type="text"
    [placeholder]="placeholder"
    (model)="addFilterValue($event)"
  ></app-input>
  <select
    class="toolbar__item"
    name="sort"
    [ngModel]="sortBy"
    (ngModelChange)="addSortValue($event)"
  >
    <option value="" hidden>Sort by ...</option>
    <option value="name">name</option>
    <option value="createdAt">date</option>
    <option *ngIf="dashboard" value="todo">"Todo"</option>
    <option *ngIf="dashboard" value="inprogress">"In progress"</option>
    <option *ngIf="dashboard" value="done">"Done"</option>
  </select>
  <button
    class="toolbar__item"
    class="toolbar__btn"
    (click)="addDirectionValue('asc')"
  >
    ASC
  </button>
  <button
    class="toolbar__item"
    class="toolbar__btn"
    (click)="addDirectionValue('desc')"
  >
    DESC
  </button>
</ng-container>
