<!-- <div class="toolbar">
  <button class="toolbar__btn" (click)="modal.show()">+</button>
  <div class="toolbar__group">
    <input
      type="text"
      class="toolbar__input"
      placeholder="Filter boards..."
    />
    <select name="sort" (change)="sort('$event.target.value')">
      <option value="" hidden>Sort by ...</option>
      <option value="name">name</option>
      <option value="date" >date</option>
      <option value="todo">"Todo"</option>
      <option value="inprogress">"In progress"</option>
      <option value="done">"Done"</option>
    </select>
    <button class="toolbar__btn">ASC</button>
    <button class="toolbar__btn">DESC</button>
  </div>
</div> -->
