<section class="login">
    <div class="login__google">
        <p>You can log in with your Google Account:</p>
        <a class="login__google-link" [href]="url">
            <img src="./assets/images/google-logo.png" alt="google logo" class="goole-logo" width="20">
            Google
        </a>
    </div>
    <p>Or log in using an email and password, after registering:</p>
    <form [formGroup]="form" class="login__form">
            <div [ngClass]="{invalid: form.controls['email'].touched && form.controls['email'].invalid}">
                <input formControlName="email" type="email" class="login__input" placeholder="Email">
                <div class="validation" *ngIf="form.controls['email'].touched && form.controls['email'].invalid">
                    <small *ngIf="form.controls['email']">Email address must be valid</small>
                </div>
            </div>
            <div [ngClass]="{invalid: form.controls['password'].touched && form.controls['password'].invalid}">
                <input formControlName="password" type="password" class="login__input" placeholder="Password">                
                <div class="validation" *ngIf="form.controls['password'].touched && form.controls['password'].invalid">
                    <small *ngIf="form.controls['password']">Password length must be at least 8 characters</small>
                </div>
            </div>
            <div class="forgot-password">
                <p *ngIf="messages.errors$ | async as error" (click)="forgotPassword()">Forgot password</p>
            </div>
        <button (click)="register()" [disabled]="!form.valid || submitted" class="register__btn">Register</button>
        <button (click)="login()" [disabled]="!form.valid || submitted" class="login__btn">Login</button>
    </form>
</section>
