<div class="backdrop" (click)="closeModal()">
    <div class="modal" (click)="$event.stopPropagation()">
    <button class="modal__close" (click)="closeModal()">x</button>
    <h3 class="modal__header">{{title}}</h3>
    <form [formGroup]="form" class="modal__form">
            <div>
                <input [ngClass]="{invalid: form.controls['name'].touched && form.controls['name'].invalid}" formControlName="name" type="text" class="modal__input" placeholder="Board name">
                <div class="validation">
                    <small *ngIf="form.controls['name'].touched && form.controls['name'].invalid" class="error">Name is required</small>
                </div>
            </div>
            <div *ngIf="description">
                <input formControlName="description" type="text" class="modal__input" placeholder="Board description">
            </div>
        <button (click)="passFormData()" [disabled]="!form.valid || submitted" class="modal__btn">{{action}}</button>
    </form>
</div>
</div>

