<app-loader></app-loader>
<div class="profile">
  <div class="profile-container">
    <img
      *ngIf="user.avatarURL"
      alt="avatar"
      [src]="user.avatarURL"
    />
    <img *ngIf="!user.avatarURL" alt="avatar" src="./assets/images/avatarka.png" />
    <div class="btn">
      <label for="files">Select image</label>
      <input id="files" name="avatar" style="display: none" type="file" (change)="addAvatar($event)"/>
    </div>
    <div class="profile__info">
      <h3>Email: {{ user.email }}</h3>
      <p>Registration date: {{ user.createdAt | date: 'dd.MM.YYYY' }}</p>
      <p class="profile__password">Сhange password:</p>
      <form [formGroup]="form" class="form">
        <div
          [ngClass]="{
            invalid:
              form.controls['password'].touched &&
              form.controls['password'].invalid
          }"
          class="password-wrapper"
        >
          <input
            formControlName="password"
            type="password"
            class="form__input"
            placeholder="Password"
            appPasswordToggle
          />
          <div
            class="validation"
            *ngIf="
              form.controls['password'].touched &&
              form.controls['password'].invalid
            "
          >
            <small *ngIf="form.controls['password']"
              >Use at least 8 letters or numbers</small
            >
          </div>
        </div>
        <div
          [ngClass]="{
            invalid:
              form.controls['confirmPassword'].touched &&
              form.controls['confirmPassword'].invalid
          }"
          class="password-wrapper"
        >
          <input
            formControlName="confirmPassword"
            type="password"
            class="form__input"
            placeholder="Confirm password"
            appPasswordToggle
          />
          <div
            class="validation"
            *ngIf="
              form.controls['confirmPassword'].touched &&
              form.controls['confirmPassword'].invalid
            "
          >
            <small *ngIf="form.controls['confirmPassword']"
              >Use at least 8 letters or numbers</small
            >
          </div>
        </div>
        <div>
            <button
          (click)="changePassword()"
          [disabled]="!form.valid || submitted"
          class="btn"
        >
          Save
        </button>
        </div>
        
      </form>
      <small *ngIf="error" class="validation"
              >Both password must be equal</small
            >
    </div>
  </div>
</div>