<app-toolbar
  [boardName$]="boardName$"
  (filterByName)="getFilterValue($event)"
  (sort)="getSortValue($event)"
  (direction)="getDirectionValue($event)"
></app-toolbar>

<app-loader class="loader"></app-loader>

<div *ngIf="!archive" class="tasks__list" (dragover)="allowDrop($event)">
  <app-task-column
    [tasks]="todoTasks$ | async"
    [color]="todoColor$ | async"
    [filterByName]="filterByName"
    [sort]="sort"
    [direction]="direction"
    [archive]="archive"
    taskType="Todo"
    [i]="0"
    [canAdd]="canAdd"
    class="tasks__column"
  >
  </app-task-column>

  <app-task-column
    [tasks]="inProgressTasks$ | async"
    [color]="inProgressColor$ | async"
    [filterByName]="filterByName"
    [sort]="sort"
    [direction]="direction"
    [archive]="archive"
    taskType="In progress"
    [i]="1"
    [canAdd]="canAdd"
    class="tasks__column"
  >
  </app-task-column>

  <app-task-column
    [tasks]="doneTasks$ | async"
    [color]="doneColor$ | async"
    [filterByName]="filterByName"
    [sort]="sort"
    [direction]="direction"
    [archive]="archive"
    taskType="Done"
    [i]="2"
    [canAdd]="canAdd"
    [done]="true"
    class="tasks__column"
  >
  </app-task-column>

  <app-slider-button
    class="slider__btn right"
    content="→"
    (click)="archive = true"
  ></app-slider-button>
</div>

<div *ngIf="archive" class="tasks__list">
  <app-archive-task
    [archiveTasks]="archiveTasks$ | async"
    [color]="archiveColor$ | async"
    [filterByName]="filterByName"
    [sort]="sort"
    [direction]="direction"
    class="tasks__column"
  ></app-archive-task>
  
  <app-slider-button
    class="slider__btn left"
    content="←"
    (click)="archive = false"
  ></app-slider-button>
</div>
