:host {
    display: block;
    text-align: center;
}

.tasks__list {
    display: flex;
    justify-content: space-around;
    padding: 15px 10px;
    position: relative;
}

.tasks__column {
    width: 27%;
}

.slider__btn {
    position: absolute;
    top: 50%;
}

.right {
    right: 10px;
}

.left {
    left: 10px;
}

.archive {
    display: block;
}