:host {
    text-align: center;
  }

.boards {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    padding: 50px;
}

.board {
    width: 25%;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    background-color: #fff;
    color: rgb(24, 93, 93);
    box-shadow: 0px 10px 20px rgba(24, 93, 93, 0.4);
    transition: all 1s ease-out;
}

.board:hover {
    box-shadow: 0px 10px 20px rgba(24, 93, 93, 0.8);
}

.board__btn {
    font-size: 25px;
    color: lightseagreen;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.5s ease-out;
    margin-right: 10px;
}

.board__name {
    font-weight: 800;
    font-size: 24px;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0px 10px 20px rgba(103, 108, 120, 0.2);
    border-radius: 40px;
    transition: all 1s ease-out;
}

.board__name:hover {
    box-shadow: inset 0px 10px 20px rgba(103, 108, 120, 0.2);
}

.board__btn:hover {
    scale: 1.2;
}

.board__btn-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.board__description {
    min-height: 20px;
    margin-top: 10px;
}

.stat__list {
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid lightseagreen;
    border-bottom: 1px solid lightseagreen;
    margin-top: 10px;
    margin-bottom: 10px;
    color: lightseagreen;
}

.loader {
    margin: 0 auto;
}

.toolbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    
}

.toolbar__btn {
    min-height: 25px;
    padding: 10px 20px;
    margin-right: 10px;
    text-align: center;
    background-color: #fff;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(103, 108, 120, 0.4);
    transition: all 0.5s ease-out;
    border: 1px solid gainsboro;
} 

.toolbar__btn:hover {
    box-shadow: 5px 5px 10px rgba(103, 108, 120, 0.8);
}

.toolbar__btn:active {
    box-shadow: inset 5px 5px 10px rgba(103, 108, 120, 0.4);
}

@media screen and (max-width: 480px) {
    .toolbar {
      flex-direction: column;
      padding: 10px;
    }
    .board__list {
      flex-direction: column;
    }
    .boards {
        padding: 20px;
    }
    .board {
        width: 90%;
    }
  }
  
  @media screen and (min-width: 481px) and (max-width: 768px) {
    .toolbar {
      flex-direction: column;
      padding: 10px;
    }
    .board__list {
      flex-direction: column;
    }
    .boards {
        padding: 30px;
    }
    .board {
        width: 60%;
    }
  }
  
  @media screen and (min-width: 769px) and (max-width: 1200px) {
    .board {
        width: 40%;
    }
  }