<div class="toolbar">
  <button class="toolbar__btn" (click)="showAddModal = true">+</button>
  <app-toolbar
    (filterByName)="filterByName = $event"
    (sort)="sort = $event"
    (direction)="direction = $event"
    placeholder="Filter boards..."
    dashboard="true"
  ></app-toolbar>
</div>
<app-modal
  *ngIf="showAddModal"
  [submitted]="submitted"
  (formData)="addBoard($event)"
  [description]="true"
  title="Add new board"
  action="Add"
  (showModal)="showAddModal = $event"
></app-modal>

<div class="boards">
  <div
    *ngFor="
      let board of boards$ | async | filter: filterByName | sort: sort:direction
    "
    class="board"
  >
    <h3 [routerLink]="['/board', board._id]" class="board__name">
      {{ board.name }}
    </h3>
    <p class="board__description">{{ board.description }}</p>

    <div class="board__tools">
      <div class="board__stat">
        <ul class="stat__list">
          <li class="stat__item">
            <span>Todo: {{ board.taskCount.todo }}</span>
          </li>
          <li class="stat__item">
            <span>In progress: {{ board.taskCount.inprogress }}</span>
          </li>
          <li class="stat__item">
            <span>Done: {{ board.taskCount.done }}</span>
          </li>
        </ul>
      </div>
      <div class="board__btn-wrapper">
        <p class="board__date">{{ board.createdAt | date: 'dd.MM.YYYY' }}</p>
        <div>
          <button class="board__btn" (click)="editBoard(board._id)">
            &#9998;
          </button>
          <button class="board__btn" (click)="toDelete(board._id)">🗑</button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal
  *ngIf="showModal"
  [submitted]="submitted"
  (formData)="updateBoard($event)"
  [description]="false"
  title="Edit board"
  action="Save"
  (showModal)="showModal = $event"
></app-modal>

<app-confirm-dialog
  *ngIf="toConfirm"
  title="board"
  (confirmation)="deleteBoard($event)"
  (showModal)="toConfirm = $event"
></app-confirm-dialog>