<div
  *ngFor="let task of tasks | filter: filterByName | sort: sort:direction"
  class="tasks__item"
  draggable="true"
  (dragstart)="drag($event, task._id)"
  [id]="task._id"
  data-type="Todo"
>
  <div>
    <h2>{{ task.name }}</h2>
    <form *ngIf="task.canEdit" [formGroup]="editForm" class="tasks__edit">
      <app-form-input placeholder="Task name" [parentForm]="editForm"></app-form-input>
      <app-grey-button
        class="tasks__btn"
        type="button"
        content="Save"
        (click)="saveChanges(task._id)"
      ></app-grey-button>
      <app-grey-button
        class="tasks__btn"
        type="button"
        content="Close"
        (click)="task.canEdit = false"
      ></app-grey-button>
    </form>
    <div class="tasks__date">
      <p>{{ task.createdAt | date: 'dd.MM.YYYY' }}</p>
      <img
        src="./assets/images/message.png"
        width="30"
        (click)="task.canComment = !task.canComment"
      />
      <span>{{ task.comments.length }}</span>
    </div>
    <form
      [formGroup]="commentForm"
      *ngIf="task.canComment"
      class="tasks__comments"
    >
      <p *ngIf="!task.comments.length" else comments class="tasks__comment">
        There are no comments yet
      </p>
      <div class="tasks__comment">
        <div #comments *ngFor="let comment of task.comments">
          <p>- {{ comment.comment }}</p>
        </div>
        <span
          *ngIf="task.comments.length"
          class="tasks__comment-bin"
          (click)="deleteComment(task._id)"
          >🗑</span
        >
      </div>

      <div class="tasks__edit">
        <app-form-input [parentForm]="commentForm" placeholder="New comment"></app-form-input>
        <app-grey-button
          class="tasks__btn"
          type="button"
          content="Add"
          (click)="addComment(task._id)"
        ></app-grey-button>
        <app-grey-button
          class="tasks__btn"
          type="button"
          content="Close"
          (click)="task.canComment = false"
        ></app-grey-button>
      </div>
    </form>
  </div>
  <div class="tasks__menu">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
  <div class="task__menu">
    <ul class="task__menu-list">
      <li class="task__menu-item" (click)="task.canEdit = true">Edit</li>
      <li class="task__menu-item" (click)="deleteTask(task._id)">Delete</li>
      <li *ngIf="done" class="task__menu-item" (click)="archiveTask(task._id)">
        Archive
      </li>
    </ul>
  </div>
</div>
